# ┌───────────────────────────────────────────────────────────────────────────
# │ Lasso credentials for demo
# └───────────────────────────────────────────────────────────────────────────
LASSO_PROXY_ENDPOINT=
LASSO_X_API_KEY=

# ┌───────────────────────────────────────────────────────────────────────────
# │ Azure credentials for demi
# └───────────────────────────────────────────────────────────────────────────
AZURE_API_KEY=
AZURE_ENDPOINT=
AZURE_DEPLOYMENT=
# Authenticate using a service principal

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# DISABLE_SSL_VERIFICATION=true
# ┌───────────────────────────────────────────────────────────────────────────
# │ AWS credentials for demo
# └───────────────────────────────────────────────────────────────────────────
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
# AWS_ROLE_ARN=

# Bedock Model IDs
BEDROCK_TEXT_MODEL_ID=
BEDROCK_EMBEDDING_MODEL_ID=